.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/thailand_data_bank.csv
data/thailand_gpp_data.csv
/data/tabs/Figure_*
/data-viz/outputs/Figure_*
data-viz/inputs/Thailand Report Outline.docx
data-viz/inputs/Thailand Questionnaire_Back Translation_v3_AM.docx
data-viz/outputs/roli_rose.svg
data-viz/outputs/roli_dots_A.svg
data-viz/outputs/roli_dots_B.svg
data-viz/outputs/roli_dots_C.svg
data-viz/outputs/roli_dots_D.svg
data-viz/outputs/roli_dots_E.svg
data-viz/outputs/roli_dots_F.svg
data-viz/outputs/roli_dots_G.svg
data-viz/outputs/roli_dots_H.svg
